body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: purple;
}

h1 {
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

#container {
    display: flex;
    color: wheat;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 50px;
    border: 5px solid; /* Fixed the syntax for the border */
    background-color: antiquewhite;
}

#display {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(79, 72, 79);
    text-shadow: 2px 2px 2px rgb(40, 39, 39);
    margin-bottom: 25px;
}

#control button { /* Updated selector to match HTML */
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#start {
    background-color: brown;
}

#pause {
    background-color: orange; 
}

#reset {
    background-color: brown;
}
